<%= form_for [@user], :url => url_for(:controller => 'users', :action => 'novo_contato'), remote: true  do |f| %>

	<div id="form_error"></div>

	<div class="row">
		<div class="field">
			<div class="input-field col s12 m12 l12">
				<i class="material-icons prefix">person</i>
				<%= f.text_field :name  %>
				<label for="user_name">Nome</label>
			</div>
		</div>
		<div class="field">
			<div class="input-field col s12 m12 l12">
				<i class="material-icons prefix">email</i>
				<%= f.text_field :email  %>
				<label for="user_email">E-mail</label>
			</div>
		</div>
		<div class="field">
			<div class="input-field col s12 m12 l12">
				<i class="material-icons prefix">phone</i>
				<%= f.text_field :phone  %>
				<label for="user_phone">Fone</label>
			</div>
		</div>
	    <div class="actions">
	      <button class="btn blue right darken-2 waves-effect waves-light" type="submit" name="action">
	        <i class="material-icons">send</i>
	      </button>
	    </div>
	</div>

<% end %>


<script type="text/javascript">
	$("input").blur(function(){
		if ($(this).val() == ""){
			$(this).css("border-bottom","1px solid red");
		}else{
			$(this).css("border-bottom","1px solid green");
		}
	});
</script>