<% if @user.errors.any? %>
  $("#form_error").html("<%= j( render '/shared/form_error', object: @user )%>");
  $('html, body').animate({
  	scrollTop: $("#form_error").offset().top
  }, 500);

	<% @user.errors.full_messages.each do |msg| %>
		<% if msg.include?"Phone" %>
			$("#user_phone").css("border-bottom","1px solid red");
		<% elsif msg.include?"Email" %>
			$("#user_email").css("border-bottom","1px solid red");
		<% elsif msg.include?"Name" %>
			$("#user_name").css("border-bottom","1px solid red");
		<% end %>
	<% end %>

<% else %>
  $("#new_user").html("<%= j( render '/shared/form_success', object: @user )%>");
<% end %>