<div class="main-slider">
  <% images.each_with_index do |image, index| %>
    <div class="t-slide  <%= 'current-t-slide' if index == 0 %>">
      <img src="<%= image.gsub('public','') %>" alt="" />
    </div>
  <% end %>

  <div class="t-slider-controls ">
    <div class="arrow right-arrow" style="z-index: 3;">
      <div class="arrow-container">
        <div class="arrow-icon"><i class="material-icons green-text text-darken-3">arrow_forward</i></div>
      </div>
    </div>
    <div class="arrow left-arrow" style="z-index: 3;">
      <div class="arrow-container">
        <div class="arrow-icon"><i class="material-icons green-text">arrow_back</i></div>
      </div>
    </div>
    <div class="t-load-bar">
      <div class="inner-load-bar"></div>
    </div>
    <div class="t-dots-container">
      <div class="t-slide-dots-wrap">
        <div class="t-slide-dots">

        </div>
      </div>
    </div>
  </div>
  <div class="third-slider text-slider">
  </div>
</div>



