<section class="wave" style="position: relative; height: 100px;">
  <div class="waver_bottom">
    <%= render "/shared/waver_bottom", color: "#a1887f", margin: "0;" %>
  </div>
</section>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contato</h5><br>
        <h5 class="white-text">Localização</h5>


      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">WhatsApp</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">YouTube</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="background: #a1887f;">
    <div class="container center">
    © 2019 Copyright San Carlo
    </div>
  </div>
</footer>