<% if object.errors.any? %>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title red-text">OPS <span class="badge red white-text"><%= object.class.to_s == "User" ? (object.errors.size-1) : object.errors.size %></span></span>
          <% object.errors.full_messages.each do |msg| %>
          <% msg = msg.gsub("Name","Nome") %>
          <% msg = msg.gsub("Phone","Fone") %>
          <% msg = msg.gsub("People","Número de Convidados") %>
          <% msg = msg.gsub("Event date","Data do evento") %>
          <% msg = msg.gsub("Event time","Início do evento") %>
          <% msg = msg.gsub("Erro","Ops!!") %>
          <% msg = msg.gsub("invalid date","Esta data não existe, digite um valor válido") %>
            <p class="span f18"><%= msg unless msg.include? "Password" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>