  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-title green-text text-darken-2"><%= I18n.t("class.#{object.class.to_s.downcase}") %><%= " #{(object.created_at == object.updated_at) ? 'cadastrado' : 'atualizado'} com sucesso!" %></span>
        </div>
      </div>
    </div>
  </div>
