<nav>
  <section class="wave">
    <%= render "/shared/waver_top", color: "white" %>
  </section>

  <div class="nav-wrapper container" style="z-index: 2;">
  <a  class="brand-logo"><img src="/images/logo.png" class="logo"></a>
    <a data-target="mobile-demo" class="sidenav-trigger green-text text-darken-2"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if action_name == 'home' %>
        <li><a id="go_home" class="animated bounceInDown faster" >Home</a></li>
        <li><a id="go_types" class="animated bounceInDown fast" >Tipos de Eventos</a></li>
        <li><a id="go_services" class="animated bounceInDown" >Serviços</a></li>
        <li><a id="go_reserve" href="/reserva" class="animated bounceInDown fast" >Fazer Reserva</a></li>
      <% elsif action_name == 'reserva' %>
        <li><a href="/home" class="animated bounceInDown faster" >Home</a></li>
        <li><a href="/home#types" class="animated bounceInDown fast" >Tipos de Eventos</a></li>
        <li><a href="/home#services" class="animated bounceInDown" >Serviços</a></li>
        <li><a href="/reserve" href="/reserva" class="animated bounceInDown fast" >Fazer Reserva</a></li>
      <% end %>
    </ul>
  </div>


</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a id="go_home" >Home</a></li>
  <li><a id="go_types" >Tipos de Eventos</a></li>
  <li><a id="go_services" >Serviços</a></li>
  <li><a id="go_reserve" href="/reserva" >Fazer Reserva</a></li>
</ul>


<script type="text/javascript">

  $("#go_home").click(function(){
    $('html, body').animate({
      scrollTop: $("#home_content").offset().top
    }, 1500);
  });

  $("#go_types").click(function(){
    $('html, body').animate({
      scrollTop: $(".types").offset().top
    }, 1500);
  });

  $("#go_services").click(function(){
    $('html, body').animate({
      scrollTop: $(".services").offset().top
    }, 1500);
  });

</script>