
<div style="height: 150px; overflow: hidden; margin-top: <%= margin %> z-index: 3; position: absolute; width: 100%;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C125.27,-20.22 309.81,181.08 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: <%= color %>;"></path></svg></div>