
<div style="height: 150px; overflow: hidden; width: 100%; position: absolute; z-index: 1;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-12.41,91.28 C126.41,247.20 271.49,-49.98 510.15,127.78 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: <%= color %>;"></path></svg></div>