<%= form_for [@event], remote: true do |f| %>
	
	<div id="form_error"></div>

	
	<div class="field">
		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">date_range</i>
			<%= f.text_field :event_date, 'data-toggle' => 'datepicker', :onkeypress => "mascara(this, checaData)", maxlength: 10 %>
			<div data-toggle="datepicker"></div>
			<label for="event_event_date">Data do Evento</label>
		</div>
	</div>
	<div class="field">
		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">timer</i>
			<%= f.text_field :event_time, :onkeypress => "mascara(this, checaNumero)", maxlength: 2  %>
			<label for="event_event_time">Horário do início do Evento</label>
		</div>
	</div>
	<div class="field">
		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">people</i>
			<%= f.text_field :people, :onkeypress => "mascara(this, checaNumero)", maxlength: 3  %>
			<label for="event_people">Convidados</label>
		</div>
	</div>
	<div class="field">
		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">message</i>
			<%= f.text_field :message  %>
			<label for="event_message">Mensagem</label>
		</div>
	</div>
	<div class="actions">
		<button class="btn blue right darken-2 waves-effect waves-light" type="submit" name="action">
			<i class="material-icons">send</i>
		</button>
	</div>
<% end %>

<script type="text/javascript">
	$("input").blur(function(){
		if ($(this).val() == ""){
			$(this).css("border-bottom","1px solid red");
		}else{
			$(this).css("border-bottom","1px solid green");
		}
	});
	$("input#event_event_date").change(function(){
  		M.updateTextFields();
	});1
</script>