<p>
  <%= link_to "Nova reserva", events_nova_reserva_path, class: "btn shadow green peso-4", remote: true  %>
</p>
<br>
<div class="overflow">
  <table class="f15">
    <thead>
      <tr>
        <th>Evento</th>
        <th>Data</th>
        <th>Convidados</th>
        <th>Status</th>
        <th>#</th>
      </tr>
    </thead>

    <tbody>
      <% meus_eventos_ativos.each do |evento| %>
        <tr class="<%= 'grey lighten-2' if evento.canceled %>">
          <td><%= evento.id %></td>
          <td><%= "#{l evento.event_date, format: :long} às #{evento.event_time} horas" %></td>
          <td><%= evento.people %></td>
          <td><%= event_status(evento) %></td>
          <td>
            <% unless evento.canceled %>
              <%= link_to events_nova_reserva_path(id: evento.id), remote: true do %>
                <i class="material-icons blue-text" style="font-size: 1.5rem;">edit</i>
              <% end %>
              <%= link_to events_cancelar_path(evento), method: "post" do %>
                <i class="material-icons red-text" style="font-size: 1.5rem;">cancel</i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
