<% if @event.errors.any? %>
  $("#form_error").html("<%= j( render '/shared/form_error', object: @event )%>");
  $('html, body').animate({
  	scrollTop: $("#form_error").offset().top
  }, 500);

	<% @event.errors.full_messages.each do |msg| %>
		<% if msg.include?"" %>
			$("#event_event_date").css("border-bottom","1px solid red");
		<% elsif msg.include?"Email" %>
			$("#event_event_time").css("border-bottom","1px solid red");
		<% elsif msg.include?"Name" %>
			$("#event_people").css("border-bottom","1px solid red");
		<% end %>
	<% end %>

<% else %>
  $("#edit_event_<%= @event.id %>").html("<%= j( render '/shared/form_success', object: @event )%>");
<% end %>