

<div id="home_content">
	<div class="banner animated lightSpeedIn slow">
		<%= render "/shared/carousel", images: @images %>
	</div>
	<section class="wave" style="position: relative; height: 50px;">
		<div class="waver_bottom">
			<%= render "/shared/waver_bottom", color: "#ECE9E4", margin: "-77px;" %>
		</div>
	</section>
	<div class="sancarlo">
		<div class="container">
			<br>
			<h4 class="green-text text-darken-2 center <%= Setting.animated %>">San Carlo</h4>
				<p class="span f18 <%= Setting.animated %>">
					Somos uma empresa focada e especializada em festas. Visão profissional, atendimento personalizado, e apresentação de soluções completas e adequadas ao melhor custo benefício conquistam nossos clientes a cada evento realizado. Flexibilidade e integridade, sempre considerando os interesses do cliente, são nossos principais valores e diferenciais. Realizar eventos com comprometimento, seriedade e organização fazem de nós facilitadores de um mundo de sonhos que vão de encontro à realidade. Quantos sonhos realizados! Quantas emoções nos mais variados rostos! Sentimentos que marcam vidas e que fazem nossa história!.
				</p>
				<p class="span f18 <%= Setting.animated %>">
					Nosso grande desafio é tornar seu sonho mais real do que do que você imagina. Planejamos e executamos o seu evento otimizando os recursos e minimizando os custos.
				</p>
			<br>
			<br>



		</div>
	</div>
	<section class="wave" style="position: relative; height: 50px;">
		<div class="waver_bottom">
			<%= render "/shared/waver_top", color: "#ECE9E4", margin: "0;" %>
		</div>
	</section>

	<div class="salao">
		<div class="container">
			<br>
			<h4 class="green-text text-darken-2 center <%= Setting.animated %>">Salão</h4>
			<br>
            <div class="row">
            	<div class="col s12 m12 l6">
			<div class="slider slider-single">
				<% @examples.each do |image| %>
					<div><img src="<%= image.gsub('public','') %>" style="width: 100%; height: auto;"></div>
				<% end %>
			</div>
			<div class="slider slider-nav" style="max-height: 100px;">
				<% @examples.each do |image| %>
					<div><img src="<%= image.gsub('public','') %>" style="width: 64px; height: 64px;"></div>
				<% end %>
			</div>

            	</div>
            	<div class="col s12 m12 l5 offset-l1">
        			<p class="span f18 <%= Setting.animated %>">
						O San Carlo Festas e Eventos é projetado especialmente para oferecer eventos deslumbrantes e inesquecíveis. Sua arquitetura moderna, inovadora e estruturada permite além do bem estar, uma imagem marcante do local proporcionando as melhores recordações de foto e filmagem. O local oferece excelente conforto e comodidade, ingredientes essenciais para que seu evento seja um sucesso.
        			</p>
            	</div>
            </div>
            <br>
		</div>
	</div>
	<section class="wave" style="position: relative; height: 50px;">
		<div class="waver_bottom">
			<%= render "/shared/waver_bottom", color: "#ff7043", margin: "-77px;" %>
		</div>
	</section>
	<section class="wave" style="position: relative; height: 50px;">
		<div class="waver_bottom">
			<%= render "/shared/waver_top", color: "#ff7043", margin: "0;" %>
		</div>
	</section>
	<section class="wave" style="position: relative; height: 50px;">
		<div class="waver_bottom">
			<%= render "/shared/waver_bottom", color: "rgba(255, 255, 255, 0.2)", margin: "-77px;" %>
		</div>
	</section>

	<div id="types" class="types">
		<div class="container">
			<br>
			<h4 class="green-text text-darken-2 center <%= Setting.animated %>">Tipos de Eventos</h4>
			<p class="span f18 <%= Setting.animated %>">
				Somos uma empresa focada e especializada em festas. Visão profissional, atendimento personalizado, e apresentação de soluções completas e adequadas ao melhor custo benefício conquistam nossos clientes a cada evento realizado. Flexibilidade e integridade, sempre considerando os interesses do cliente, são nossos principais valores e diferenciais. Realizar eventos com comprometimento, seriedade e organização fazem de nós facilitadores de um mundo de sonhos que vão de encontro à realidade. Quantos sonhos realizados! Quantas emoções nos mais variados rostos! Sentimentos que marcam vidas e que fazem nossa história!.
			</p>
			<p class="span f18 <%= Setting.animated %>">
				Nosso grande desafio é tornar seu sonho mais real do que do que você imagina. Planejamos e executamos o seu evento otimizando os recursos e minimizando os custos.
			</p>
		</div>
	</div>
	
	<br>
	<br>

	<section class="wave" style="position: relative; height: 50px;">
		<div class="waver_bottom">
			<%= render "/shared/waver_bottom", color: "#a1887f", margin: "-77px;" %>
		</div>
	</section>
	<section class="wave" style="position: relative; height: 50px;">
		<div class="waver_bottom">
			<%= render "/shared/waver_top", color: "#a1887f", margin: "0;" %>
		</div>
	</section>
	<section class="wave" style="position: relative; height: 50px;">
		<div class="waver_bottom">
			<%= render "/shared/waver_bottom", color: "rgba(255, 255, 255, 0.5)", margin: "-57px;" %>
		</div>
	</section>

	<div id="services" class="services">
		<div class="container">
			<br>
			<h4 class="green-text text-darken-2 center <%= Setting.animated %>">Serviços</h4>
			<p class="span f18 <%= Setting.animated %>">
				Somos uma empresa focada e especializada em festas. Visão profissional, atendimento personalizado, e apresentação de soluções completas e adequadas ao melhor custo benefício conquistam nossos clientes a cada evento realizado. Flexibilidade e integridade, sempre considerando os interesses do cliente, são nossos principais valores e diferenciais. Realizar eventos com comprometimento, seriedade e organização fazem de nós facilitadores de um mundo de sonhos que vão de encontro à realidade. Quantos sonhos realizados! Quantas emoções nos mais variados rostos! Sentimentos que marcam vidas e que fazem nossa história!.
			</p>
			<p class="span f18 <%= Setting.animated %>">
				Nosso grande desafio é tornar seu sonho mais real do que do que você imagina. Planejamos e executamos o seu evento otimizando os recursos e minimizando os custos.
			</p>
		</div>
	</div>

</div>



<script type="text/javascript">
 $('.slider-single').slick({
 	slidesToShow: 1,
 	slidesToScroll: 1,
 	arrows: true,
 	fade: false,
 	adaptiveHeight: true,
 	infinite: false,
	useTransform: true,
 	speed: 400,
 	cssEase: 'cubic-bezier(0.77, 0, 0.18, 1)',
 });

 $('.slider-nav')
 	.on('init', function(event, slick) {
 		$('.slider-nav .slick-slide.slick-current').addClass('is-active');
 	})
 	.slick({
 		slidesToShow: 7,
 		slidesToScroll: 7,
 		dots: false,
 		focusOnSelect: false,
 		infinite: false,
 		responsive: [{
 			breakpoint: 1024,
 			settings: {
 				slidesToShow: 5,
 				slidesToScroll: 5,
 			}
 		}, {
 			breakpoint: 640,
 			settings: {
 				slidesToShow: 4,
 				slidesToScroll: 4,
			}
 		}, {
 			breakpoint: 420,
 			settings: {
 				slidesToShow: 3,
 				slidesToScroll: 3,
		}
 		}]
 	});

 $('.slider-single').on('afterChange', function(event, slick, currentSlide) {
 	$('.slider-nav').slick('slickGoTo', currentSlide);
 	var currrentNavSlideElem = '.slider-nav .slick-slide[data-slick-index="' + currentSlide + '"]';
 	$('.slider-nav .slick-slide.is-active').removeClass('is-active');
 	$(currrentNavSlideElem).addClass('is-active');
 });

 $('.slider-nav').on('click', '.slick-slide', function(event) {
 	var goToSingleSlide = $(this).data('slick-index');

 	$('.slider-single').slick('slickGoTo', goToSingleSlide);
 });
</script>