

<div id="reserva_content">
	<div class="container">
		<div class="lead">
			<h5 class="white-text peso-6 center">
				Gostaria de fazer uma reserva conosco? 
			</h5>
			<div class="row">
				<div class="col s12 m10 l10 offset-m1 offset-l1">
					<div class="card">
						<div class="card-content">
							<span id="content" class="card-title activator blue-text text-darken-2">
								<% if current_user.blank? %>
									Preencha o formulário com os dados:
									<%= render "/users/form" %>
								<% elsif meus_eventos_ativos.blank? %>
									<span class="span blue-text text-darken-2 f18">
										<%= "#{current_user.name.humanize}".split(/ /).first %> preencha as informações sobre o evento:
									</span>
									<%= render "/events/form" %>
								<% else %>
									<%= render "/events/list" %>
								<% end %>
							</span>
							<br>
							&nbsp;
						</div>
						<div class="card-action">
							<%= link_to "meus eventos", reserva_path, class: "blue-text text-lighten-2" unless meus_eventos_ativos.blank? %>
							<%= link_to "sair", destroy_user_session_path, :method => :delete, class: "blue-text text-lighten-2" unless current_user.blank? %>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<style type="text/css">
	footer{
		background: #d7ccc8;
	}
</style>