nav{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: none;
	z-index: 1;

		div.nav-wrapper{

			ul{

				li{
					i, a, strong, p, span, button{
						color: #185A0B;
						transition: .5s;
						font-weight: 500;
						font-size: 15px;
						background: transparent;
						transition: 1s;
						border-bottom: 2px solid transparent;

						&:hover{
						border-bottom: 2px solid #185A0B;

						}

					}
				}
			}
		}
}