<!DOCTYPE html>
<html>
  <head>
    <title>San Carlo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"></head>
  </head>

  <body class="<%= controller_name %> <%= action_name %> public">
    <main>
      <header>
        <%= render "/shared/navbar" %>
      </header>
      <%= yield %>
      <footer class="no-margin">
        <%= render "/shared/footer" %>
      </footer>
    </main>
    <% flash.each do |message_type, message| %>
      <% if message_type == 'alert' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'red'})" %>
      <% elsif message_type == 'notice' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'green'})" %>
      <% elsif message_type == 'info' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'blue'})" %>
      <% elsif message_type == 'warning' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'orange'})" %>
      <% end %>
    <% end %>
  </body>
</html>
